@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP&family=Source+Sans+Pro&family=Work+Sans&display=swap");

.nav {
  font-family: "Noto Sans JP", "Work Sans", sans-serif;
  font-weight: 600;
  background-color: rgba(38, 151, 243, 0.295);
  border-bottom: 2px solid rgba(32, 123, 197, 0.295);
  margin-bottom: 6px;
}

body {
  font-family: "Source Sans Pro", sans-serif;
}
